# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Generated data
data/raw/*
data/processed/*
data/warehouse/*

# DuckDB
*.duckdb
*.duckdb.wal

# Environment variables
.env

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db